name: Docker Build and Push
on:
  push:
    paths-ignore:
      - 'README*'
      - 'LICENSE'
      - 'CODE_OF_CONDUCT.md'
      - '.editorconfig'
      - '.chart/**'
      - '.github/**'
      - '.gitignore'
  workflow_dispatch:
    inputs:
      version:
        description: 'Docker image version, e.g. 20240109.1ã€latest.'
        required: false
        default: 'latest'

env:
  IMAGE_REPOSITORY: aaamoon/copilot-gpt4-service

jobs:
  docker-release:
    name: Publish Docker images
    if: github.repository == 'aaamoon/copilot-gpt4-service'
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Get Version from input
        run: |
          echo "VERSION=${{ github.event.inputs.version }}" >> $GITHUB_ENV
      - name: Get Version from git commit id
        if: github.event_name == 'push'
        run: |
          echo "VERSION=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Cache go-build
        uses: actions/cache@v4
        with:
          path: go-build
          key: go-build-${{ hashFiles('**/go.sum') }}
      - name: Cache go-pkg
        uses: actions/cache@v4
        with:
          path: go-pkg
          key: go-pkg-${{ hashFiles('**/go.sum') }}
      - name: Inject go-build into Docker
        uses: reproducible-containers/buildkit-cache-dance@v2.1.4
        with:
          cache-source: go-build
          cache-target: /root/.cache/go-build
      - name: Inject go-pkg into Docker
        uses: reproducible-containers/buildkit-cache-dance@v2.1.4
        with:
          cache-source: go-pkg
          cache-target: /go/pkg

      - name: Docker build and push with version
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ env.IMAGE_REPOSITORY }}:${{ env.VERSION }}
            ${{ env.IMAGE_REPOSITORY }}:${{ github.ref_name == 'master' && 'master' || ''}}
          platforms: |
            linux/amd64
            linux/arm64
            linux/arm/v7
